/* Component enclosing tag */
.Contact {
    padding: 1em;
    background: #555;
    width: 200px;
    display: flex;
    align-items: center;
  }
  
  /* Contact image */
  img {
    border-radius: 50%;
    margin-right: 1em;
    width: 48px;
    height: 48px;
  }
  
  /* Status (rounded&colored indicator)
  .Contact .status .status-online,
  .Contact .status .status-offline {
    display: inline-block;
    border-radius: 0%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }
  */


.status-online{
background-color: green;
border: 1px solid black;
border-radius: 50%;
width: 7px;
height:5px;
} 

.status-offline {
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  width: 7px;
  height:5px;
  
 } 

button {
  border-radius: 5%;
 }